body{
   border-color: #fefefe;
}


.bg{
    background-image: url("../../../public/assets/fondo-login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h-screen {
    height: 90vh;
}

.flex-col{
    flex-direction: column;
}